.post {
    display: flex;
    align-items: center;  
    margin: 1.5em 1em;
}
.post a {
    text-decoration: none;
}
.postleft {
    width: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postleft > i {
    font-size: large;
    color: black
}

.post > div {
    margin-right: 20px;
}

.postcenter > img {
    height: 60px;
    border-radius: 5px;
}

.postright {
    width:85%;
}

.postright > h3 a {
    font-size: medium;
    font-weight: 600;
    color:#464855;
    padding: 5px 0;
}

.postright > .post-info