.post {
    display: flex;
    align-items: center;  
    margin: 1.5em 1em;
}

.post_left {
    width: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_left > i {
    font-size: large;
    color: black
}

